Repository security-summer-school/essentials-security, changes with the labels that .github/labeler.yml gives for each.
All labels: topic/scratch-linux, topic/demystifying-web, topic/data, topic/binary-introduction, area/reading, area/media, area/slides, area/guides, area/drills, area/projects, area/infra

.github/labeler.yml:

topic/scratch-linux:
  - chapters/scratch-linux/**/*

topic/demystifying-web:
  - chapters/demystifying-web/**/*

topic/data:
  - chapters/data/**/*

topic/binary-introduction:
  - chapters/binary-introduction/**/*

area/reading:
  - "**/reading/*"
  - "**/reading/**/*"

area/media:
  - "**/media/*"
  - "**/media/**/*"

area/slides:
  - "**/slides/*"
  - "**/slides/**/*"

area/guides:
  - "**/guides/*"
  - "**/guides/**/*"

area/drills:
  - "**/drills/*"
  - "**/drills/**/*"

area/projects:
  - "**/projects/*"
  - "**/projects/**/*"

area/infra:
  - "common/*"
  - "common/**/*"
  - "scripts/*"
  - "scripts/**/*"
  - ".github/*"
  - ".github/**/*"
  - "Dockerfile"
  - "Makefile"
  - "config.yaml"

workflows: Fix PR deployment links
  .github/workflows/pr-deployment.yml
Labels: area/infra

binary-introduction/assembly-language: Refactor files structure
  chapters/binary-introduction/assembly-language/drills/tasks/call-me-little-sunshine/README.md
  chapters/binary-introduction/assembly-language/drills/tasks/call-me-little-sunshine/solution/solution.sh
  chapters/binary-introduction/assembly-language/drills/tasks/call-me-little-sunshine/support/main
  chapters/binary-introduction/assembly-language/drills/tasks/crypto/README.md
  chapters/binary-introduction/assembly-language/drills/tasks/crypto/solution/README.md
  chapters/binary-introduction/assembly-language/drills/tasks/crypto/support/crypto
  chapters/binary-introduction/assembly-language/drills/tasks/gotta-link-em-all/README.md
  chapters/binary-introduction/assembly-language/drills/tasks/gotta-link-em-all/solution/main.asm
  chapters/binary-introduction/assembly-language/drills/tasks/gotta-link-em-all/support/.gitignore
  chapters/binary-introduction/assembly-language/drills/tasks/gotta-link-em-all/support/Makefile
  chapters/binary-introduction/assembly-language/drills/tasks/gotta-link-em-all/support/main.asm
  chapters/binary-introduction/assembly-language/drills/tasks/gotta-link-em-all/support/run.sh
  chapters/binary-introduction/assembly-language/drills/tasks/in-plain-assembly/README.md
  chapters/binary-introduction/assembly-language/drills/tasks/in-plain-assembly/solution/README.md
  chapters/binary-introduction/assembly-language/drills/tasks/in-plain-assembly/support/plain
  chapters/binary-introduction/assembly-language/drills/tasks/jump-maze/README.md
  chapters/binary-introduction/assembly-language/drills/tasks/jump-maze/solution/README.md
  chapters/binary-introduction/assembly-language/reading/README.md
  chapters/binary-introduction/assembly-language/reading/assembly-instructions.md
  chapters/binary-introduction/assembly-language/reading/dereferencing-addresses.md
  chapters/binary-introduction/assembly-language/reading/further-reading.md
  chapters/binary-introduction/assembly-language/reading/introduction.md
  chapters/binary-introduction/assembly-language/reading/reading-assembly.md
  chapters/binary-introduction/assembly-language/reading/registers.md
  chapters/binary-introduction/assembly-language/reading/summary.md
  config.yaml
Labels: topic/binary-introduction, area/reading, area/drills, area/infra

deploy: 5d93f1ba1a91afba089ae15aa18ad277d38b894c
  7/404.html
  7/Binary Introduction/Application Lifetime/index.html
  7/Binary Introduction/Assembly Language/Drills/Tasks/Call Me Little Sunshine/index.html
  7/Binary Introduction/Assembly Language/Drills/Tasks/Crypto/index.html
  7/Binary Introduction/Assembly Language/Drills/Tasks/Gotta Link Em All/index.html
  7/Binary Introduction/Assembly Language/Drills/Tasks/In Plain Assembly/index.html
  7/Binary Introduction/Assembly Language/Drills/Tasks/Jump Maze/index.html
  7/Binary Introduction/Assembly Language/Drills/Tasks/index.html
  7/Binary Introduction/Assembly Language/Drills/index.html
  7/Binary Introduction/Assembly Language/Reading/assembly-instructions/index.html
  7/Binary Introduction/Assembly Language/Reading/dereferencing-addresses/index.html
  7/Binary Introduction/Assembly Language/Reading/further-reading/index.html
  7/Binary Introduction/Assembly Language/Reading/index.html
  7/Binary Introduction/Assembly Language/Reading/introduction/index.html
  7/Binary Introduction/Assembly Language/Reading/reading-assembly/index.html
  7/Binary Introduction/Assembly Language/Reading/registers/index.html
  7/Binary Introduction/Assembly Language/Reading/summary/index.html
  7/Binary Introduction/Assembly Language/index.html
  7/Binary Introduction/Binary Analysis/index.html
  7/Binary Introduction/Taming the Stack/index.html
  7/Binary Introduction/index.html
  7/Data/Data Representation/index.html
  7/Data/Data Security/index.html
  7/Data/index.html
  7/Demystifying the Web/Explaining the Internet/index.html
  7/Demystifying the Web/Hacking the Web/index.html
  7/Demystifying the Web/Re-Discovering the Browser/index.html
  7/Demystifying the Web/index.html
  7/Scratch Linux/System Exploration/index.html
  7/Scratch Linux/Welcome to Linux/index.html
  7/Scratch Linux/index.html
  7/assets/js/585c598f.37311a45.js
  7/assets/js/585c598f.f67f463e.js
  7/assets/js/runtime~main.06390ce2.js
  7/assets/js/runtime~main.7afbb0f7.js
  7/index.html
  7/markdown-page/index.html
Labels: none

data-security: Add session content
  chapters/data/data-security/drills/tasks/aes-cbc/README.md
  chapters/data/data-security/drills/tasks/caesar-cipher/README.md
  chapters/data/data-security/drills/tasks/xor-encryption/README.md
  chapters/data/data-security/media/aes.svg
  chapters/data/data-security/media/assymetric.svg
  chapters/data/data-security/media/caesar-cipher.svg
  chapters/data/data-security/media/cbc.svg
  chapters/data/data-security/media/ecb.svg
  chapters/data/data-security/media/encryption.svg
  chapters/data/data-security/media/xor-attack.svg
  chapters/data/data-security/media/xor-inverter.svg
  chapters/data/data-security/reading/README.md
  chapters/data/data-security/reading/asymmetric-cryptography.md
  chapters/data/data-security/reading/introduction.md
  chapters/data/data-security/reading/symmetric-cryptography.md
  chapters/data/data-security/reading/xor-encrpytion.md
  chapters/data/data-security/slides/Makefile
  config.yaml
Labels: topic/data, area/reading, area/media, area/slides, area/drills, area/infra

Update binary-analysis for migration
  chapters/binary-introduction/binary-analysis/drills/tasks/easy-to-spot/README.md
  chapters/binary-introduction/binary-analysis/drills/tasks/easy-to-spot/solution/README.md
  chapters/binary-introduction/binary-analysis/drills/tasks/easy-to-spot/solution/sol.sh
  chapters/binary-introduction/binary-analysis/drills/tasks/easy-to-spot/src/Makefile
  chapters/binary-introduction/binary-analysis/drills/tasks/easy-to-spot/src/easy.c
  chapters/binary-introduction/binary-analysis/drills/tasks/easy-to-spot/support/easy
  chapters/binary-introduction/binary-analysis/drills/tasks/ghidra-killer/README.md
  chapters/binary-introduction/binary-analysis/drills/tasks/ghidra-killer/solution/README.md
  chapters/binary-introduction/binary-analysis/drills/tasks/ghidra-killer/src/Makefile
  chapters/binary-introduction/binary-analysis/drills/tasks/ghidra-killer/src/flag
  chapters/binary-introduction/binary-analysis/drills/tasks/ghidra-killer/src/ghidra_killer.c
  chapters/binary-introduction/binary-analysis/drills/tasks/packaging-is-important/README.md
  chapters/binary-introduction/binary-analysis/drills/tasks/packaging-is-important/solution/README.md
  chapters/binary-introduction/binary-analysis/drills/tasks/packaging-is-important/src/Makefile
  chapters/binary-introduction/binary-analysis/drills/tasks/packaging-is-important/src/packet.c
  chapters/binary-introduction/binary-analysis/drills/tasks/packaging-is-important/support/delivery
  chapters/binary-introduction/binary-analysis/drills/tasks/spaghetti/README.md
  chapters/binary-introduction/binary-analysis/drills/tasks/spaghetti/solution/README.md
  chapters/binary-introduction/binary-analysis/drills/tasks/spaghetti/src/Makefile
  chapters/binary-introduction/binary-analysis/drills/tasks/spaghetti/src/flag
  chapters/binary-introduction/binary-analysis/drills/tasks/spaghetti/src/spaghetti.c
  chapters/binary-introduction/binary-analysis/drills/tasks/spaghetti/support/spaghetti
  chapters/binary-introduction/binary-analysis/reading/README.md
  config.yaml
Labels: topic/binary-introduction, area/reading, area/drills, area/infra

welcome-to-linux: Rework session according to OpenEdu methodology
  chapters/scratch-linux/welcome-to-linux/drills/did-you-look-everywhere/sol/solution.sh
  chapters/scratch-linux/welcome-to-linux/drills/tasks/did-you-look-everywhere/README.md
  chapters/scratch-linux/welcome-to-linux/drills/tasks/did-you-look-everywhere/solution/solution.sh
  chapters/scratch-linux/welcome-to-linux/drills/tasks/in-your-face/README.md
  chapters/scratch-linux/welcome-to-linux/drills/tasks/in-your-face/solution/solution.sh
  chapters/scratch-linux/welcome-to-linux/drills/tasks/jumbled/README.md
  chapters/scratch-linux/welcome-to-linux/drills/tasks/jumbled/solution/solution.py
  chapters/scratch-linux/welcome-to-linux/drills/tasks/jumbled/support/flag
  chapters/scratch-linux/welcome-to-linux/drills/tasks/quick-mafs/README.md
  chapters/scratch-linux/welcome-to-linux/drills/tasks/quick-mafs/solution/solution.py
  chapters/scratch-linux/welcome-to-linux/drills/tasks/whats-running/README.md
  chapters/scratch-linux/welcome-to-linux/drills/tasks/whats-running/solution/solution.sh
  chapters/scratch-linux/welcome-to-linux/drills/whats-running/sol/solution.sh
  chapters/scratch-linux/welcome-to-linux/guides/demo-bash/demo.sh
  chapters/scratch-linux/welcome-to-linux/guides/demo-python/.gitignore
  chapters/scratch-linux/welcome-to-linux/guides/demo-python/dictionaries.py
  chapters/scratch-linux/welcome-to-linux/guides/demo-python/files.py
  chapters/scratch-linux/welcome-to-linux/guides/demo-python/functions.py
  chapters/scratch-linux/welcome-to-linux/guides/demo-python/if.py
  chapters/scratch-linux/welcome-to-linux/guides/demo-python/lists.py
  chapters/scratch-linux/welcome-to-linux/guides/demo-python/loops.py
  chapters/scratch-linux/welcome-to-linux/guides/demo-python/strings_bytes.py
  chapters/scratch-linux/welcome-to-linux/guides/demo-python/variables.py
  chapters/scratch-linux/welcome-to-linux/reading/activities.md
  chapters/scratch-linux/welcome-to-linux/reading/enter-python.md
  chapters/scratch-linux/welcome-to-linux/reading/further-reading.md
  chapters/scratch-linux/welcome-to-linux/reading/introduction.md
  chapters/scratch-linux/welcome-to-linux/reading/summary.md
  chapters/scratch-linux/welcome-to-linux/reading/working-with-linux.md
  config.yaml
Labels: topic/scratch-linux, area/reading, area/guides, area/drills, area/infra

scratch-linux/system-exploration: Rework session content according to OpenEdu methodology
  chapters/scratch-linux/system-exploration/drills/find-us-if-you-can/sol/solution.sh
  chapters/scratch-linux/system-exploration/drills/not-your-doge/sol/solution.py
  chapters/scratch-linux/system-exploration/drills/tasks/empty-files/README.md
  chapters/scratch-linux/system-exploration/drills/tasks/empty-files/solution/solution.sh
  chapters/scratch-linux/system-exploration/drills/tasks/find-us-if-you-can/README.md
  chapters/scratch-linux/system-exploration/drills/tasks/find-us-if-you-can/solution/solution.sh
  chapters/scratch-linux/system-exploration/drills/tasks/not-your-doge/README.md
  chapters/scratch-linux/system-exploration/drills/tasks/not-your-doge/solution/.gitignore
  chapters/scratch-linux/system-exploration/drills/tasks/not-your-doge/solution/solution.py
  chapters/scratch-linux/system-exploration/drills/tasks/not-your-doge/support/not-doge.pnm
  chapters/scratch-linux/system-exploration/drills/tasks/surgical-precision/README.md
  chapters/scratch-linux/system-exploration/drills/tasks/surgical-precision/support/flags/.hidden
  chapters/scratch-linux/system-exploration/drills/tasks/surgical-precision/support/flags/10
  chapters/scratch-linux/system-exploration/drills/tasks/surgical-precision/support/flags/9
  chapters/scratch-linux/system-exploration/drills/tasks/surgical-precision/support/flags/admin
  chapters/scratch-linux/system-exploration/drills/tasks/surgical-precision/support/flags/file
  chapters/scratch-linux/system-exploration/drills/tasks/surgical-precision/support/flags/find
  chapters/scratch-linux/system-exploration/drills/tasks/surgical-precision/support/flags/grep
  chapters/scratch-linux/system-exploration/drills/tasks/surgical-precision/support/flags/root
  chapters/scratch-linux/system-exploration/drills/tasks/surgical-precision/support/flags/strings
  chapters/scratch-linux/system-exploration/drills/tasks/surgical-precision/support/flags/terminal
  chapters/scratch-linux/system-exploration/drills/tasks/surgical-precision/support/question-1.txt
  chapters/scratch-linux/system-exploration/drills/tasks/surgical-precision/support/question-2.txt
  chapters/scratch-linux/system-exploration/drills/tasks/surgical-precision/support/question-3.txt
  chapters/scratch-linux/system-exploration/drills/tasks/surgical-precision/support/question-4.txt
  chapters/scratch-linux/system-exploration/drills/tasks/surgical-precision/support/question-5.bin
  chapters/scratch-linux/system-exploration/guides/doge/README.md
  chapters/scratch-linux/system-exploration/guides/doge/solution/solution.sh
  chapters/scratch-linux/system-exploration/guides/doge/support/doge.jpg
  chapters/scratch-linux/system-exploration/reading/exploration-tools.md
  chapters/scratch-linux/system-exploration/reading/file-inspection.md
  chapters/scratch-linux/system-exploration/reading/further-reading.md
  chapters/scratch-linux/system-exploration/reading/introduction.md
  chapters/scratch-linux/system-exploration/reading/summary.md
  config.yaml
Labels: topic/scratch-linux, area/reading, area/guides, area/drills, area/infra

demystifying-web/explaining-the-internet: Rework session content
  chapters/demystifying-web/explaining-the-internet/drills/tasks/pinger/README.md
  chapters/demystifying-web/explaining-the-internet/drills/tasks/pinger/solution/README.md
  chapters/demystifying-web/explaining-the-internet/drills/tasks/they-see-me-running/README.md
  chapters/demystifying-web/explaining-the-internet/drills/tasks/they-see-me-running/solution/solution.sh
  chapters/demystifying-web/explaining-the-internet/drills/tasks/unaccessible/README.md
  chapters/demystifying-web/explaining-the-internet/drills/tasks/unaccessible/solution/README.md
  chapters/demystifying-web/explaining-the-internet/drills/tasks/unaccessible/solution/solution.sh
  chapters/demystifying-web/explaining-the-internet/drills/tasks/unaccessible/support/password.txt
  chapters/demystifying-web/explaining-the-internet/drills/tasks/who-is-111/README.md
  chapters/demystifying-web/explaining-the-internet/drills/tasks/who-is-111/solution/solution.sh
  chapters/demystifying-web/explaining-the-internet/drills/unaccessible/sol/README.md
  chapters/demystifying-web/explaining-the-internet/reading/README.md
  chapters/demystifying-web/explaining-the-internet/reading/application-layer.md
  chapters/demystifying-web/explaining-the-internet/reading/dns.md
  chapters/demystifying-web/explaining-the-internet/reading/further-reading.md
  chapters/demystifying-web/explaining-the-internet/reading/internet-overview.md
  chapters/demystifying-web/explaining-the-internet/reading/introduction.md
  chapters/demystifying-web/explaining-the-internet/reading/layers.md
  chapters/demystifying-web/explaining-the-internet/reading/routers.md
  chapters/demystifying-web/explaining-the-internet/reading/summary.md
  chapters/demystifying-web/explaining-the-internet/reading/transport-layer.md
  chapters/demystifying-web/explaining-the-internet/reading/urls.md
  config.yaml
Labels: topic/demystifying-web, area/reading, area/drills, area/infra

demystifying-web/rediscovering-the-browser: Rework session content
  chapters/demystifying-web/rediscovering-the-browser/drills/cockroach/sol/solution.sh
  chapters/demystifying-web/rediscovering-the-browser/drills/eyes/sol/solution.sh
  chapters/demystifying-web/rediscovering-the-browser/drills/gimme/sol/solution.sh
  chapters/demystifying-web/rediscovering-the-browser/drills/give-to-get/sol/solution.sh
  chapters/demystifying-web/rediscovering-the-browser/drills/give-to-post/sol/solution.sh
  chapters/demystifying-web/rediscovering-the-browser/drills/king-kong/sol/solution.sh
  chapters/demystifying-web/rediscovering-the-browser/drills/name/sol/solution.sh
  chapters/demystifying-web/rediscovering-the-browser/drills/one-more-pinger/sol/README.md
  chapters/demystifying-web/rediscovering-the-browser/drills/readme/sol/README.md
  chapters/demystifying-web/rediscovering-the-browser/drills/readme/sol/solution.sh
  chapters/demystifying-web/rediscovering-the-browser/drills/surprise/sol/solution.sh
  chapters/demystifying-web/rediscovering-the-browser/drills/tasks/cockroach/README.md
  chapters/demystifying-web/rediscovering-the-browser/drills/tasks/cockroach/solution/solution.sh
  chapters/demystifying-web/rediscovering-the-browser/drills/tasks/eyes/README.md
  chapters/demystifying-web/rediscovering-the-browser/drills/tasks/eyes/solution/solution.sh
  chapters/demystifying-web/rediscovering-the-browser/drills/tasks/gimme/README.md
  chapters/demystifying-web/rediscovering-the-browser/drills/tasks/gimme/solution/solution.sh
  chapters/demystifying-web/rediscovering-the-browser/drills/tasks/give-to-get/README.md
  chapters/demystifying-web/rediscovering-the-browser/drills/tasks/give-to-get/solution/solution.sh
  chapters/demystifying-web/rediscovering-the-browser/drills/tasks/give-to-post/README.md
  chapters/demystifying-web/rediscovering-the-browser/drills/tasks/give-to-post/solution/solution.sh
  chapters/demystifying-web/rediscovering-the-browser/drills/tasks/king-kong/README.md
  chapters/demystifying-web/rediscovering-the-browser/drills/tasks/king-kong/solution/solution.sh
  chapters/demystifying-web/rediscovering-the-browser/drills/tasks/name/README.md
  chapters/demystifying-web/rediscovering-the-browser/drills/tasks/name/solution/solution.sh
  chapters/demystifying-web/rediscovering-the-browser/drills/tasks/surprise/README.md
  chapters/demystifying-web/rediscovering-the-browser/drills/tasks/surprise/solution/solution.sh
  chapters/demystifying-web/rediscovering-the-browser/guides/one-more-pinger/README.md
  chapters/demystifying-web/rediscovering-the-browser/guides/one-more-pinger/solution/solution.sh
  chapters/demystifying-web/rediscovering-the-browser/guides/readme/README.md
  chapters/demystifying-web/rediscovering-the-browser/guides/readme/solution/solution.sh
  chapters/demystifying-web/rediscovering-the-browser/reading/README.md
  chapters/demystifying-web/rediscovering-the-browser/reading/browsers.md
  chapters/demystifying-web/rediscovering-the-browser/reading/further-reading.md
  chapters/demystifying-web/rediscovering-the-browser/reading/http.md
  chapters/demystifying-web/rediscovering-the-browser/reading/introduction.md
  chapters/demystifying-web/rediscovering-the-browser/reading/summary.md
  chapters/demystifying-web/rediscovering-the-browser/reading/triple-a.md
  config.yaml
Labels: topic/demystifying-web, area/reading, area/guides, area/drills, area/infra

demystifying-web/explaining-the-internet: Rework session content
  chapters/demystifying-web/explaining-the-internet/drills/tasks/pinger/README.md
  chapters/demystifying-web/explaining-the-internet/drills/tasks/pinger/solution/README.md
  chapters/demystifying-web/explaining-the-internet/drills/tasks/they-see-me-running/README.md
  chapters/demystifying-web/explaining-the-internet/drills/tasks/they-see-me-running/solution/solution.sh
  chapters/demystifying-web/explaining-the-internet/drills/tasks/unaccessible/README.md
  chapters/demystifying-web/explaining-the-internet/drills/tasks/unaccessible/solution/README.md
  chapters/demystifying-web/explaining-the-internet/drills/tasks/unaccessible/solution/solution.sh
  chapters/demystifying-web/explaining-the-internet/drills/tasks/unaccessible/support/password.txt
  chapters/demystifying-web/explaining-the-internet/drills/tasks/who-is-111/README.md
  chapters/demystifying-web/explaining-the-internet/drills/tasks/who-is-111/solution/solution.sh
  chapters/demystifying-web/explaining-the-internet/drills/unaccessible/sol/README.md
  chapters/demystifying-web/explaining-the-internet/drills/unaccessible/sol/solution.sh
  chapters/demystifying-web/explaining-the-internet/reading/README.md
  chapters/demystifying-web/explaining-the-internet/reading/application-layer.md
  chapters/demystifying-web/explaining-the-internet/reading/dns.md
  chapters/demystifying-web/explaining-the-internet/reading/further-reading.md
  chapters/demystifying-web/explaining-the-internet/reading/internet-overview.md
  chapters/demystifying-web/explaining-the-internet/reading/introduction.md
  chapters/demystifying-web/explaining-the-internet/reading/layers.md
  chapters/demystifying-web/explaining-the-internet/reading/routers.md
  chapters/demystifying-web/explaining-the-internet/reading/summary.md
  chapters/demystifying-web/explaining-the-internet/reading/transport-layer.md
  chapters/demystifying-web/explaining-the-internet/reading/urls.md
  config.yaml
Labels: topic/demystifying-web, area/reading, area/drills, area/infra

data/data-representation: Rework session content
  chapters/data/data-representation/drills/tasks/ascii-art/README.md
  chapters/data/data-representation/drills/tasks/ascii-art/solution/solution.py
  chapters/data/data-representation/drills/tasks/ascii-art/support/tommys_art_project.txt
  chapters/data/data-representation/drills/tasks/encoding-train/README.md
  chapters/data/data-representation/drills/tasks/encoding-train/solution/solution.py
  chapters/data/data-representation/drills/tasks/encoding-train/support/my_encodings.txt
  chapters/data/data-representation/drills/tasks/froggified/README.md
  chapters/data/data-representation/drills/tasks/froggified/solution/README.md
  chapters/data/data-representation/drills/tasks/froggified/support/froggified.txt
  chapters/data/data-representation/drills/tasks/infinity-hashes/README.md
  chapters/data/data-representation/drills/tasks/infinity-hashes/solution/README.md
  chapters/data/data-representation/drills/tasks/infinity-hashes/support/the_truth.txt
  chapters/data/data-representation/media/binary_meme.svg
  chapters/data/data-representation/media/blender_hashing.svg
  chapters/data/data-representation/media/data_signals.svg
  chapters/data/data-representation/media/numeral_systems1.svg
  chapters/data/data-representation/media/numeral_systems2.svg
  chapters/data/data-representation/media/unix_file_permissions1.svg
  chapters/data/data-representation/media/unix_file_permissions2.svg
  chapters/data/data-representation/reading/README.md
  chapters/data/data-representation/reading/character-encoding.md
  chapters/data/data-representation/reading/data-formats.md
  chapters/data/data-representation/reading/further-reading.md
  chapters/data/data-representation/reading/hashing.md
  chapters/data/data-representation/reading/introduction.md
  chapters/data/data-representation/reading/summary.md
  config.yaml
Labels: topic/data, area/reading, area/media, area/drills, area/infra

actions/super-linter: Add `CPPLINT.cfg`
  CPPLINT.cfg
Labels: none

binary-analysis: Add session content
  chapters/binary-introduction/binary-analysis/drills/easy-to-spot/sol/README.md
  chapters/binary-introduction/binary-analysis/drills/tasks/easy-to-spot/README.md
  chapters/binary-introduction/binary-analysis/drills/tasks/easy-to-spot/solution/README.md
  chapters/binary-introduction/binary-analysis/drills/tasks/easy-to-spot/solution/sol.sh
  chapters/binary-introduction/binary-analysis/drills/tasks/easy-to-spot/support/easy
  chapters/binary-introduction/binary-analysis/drills/tasks/easy-to-spot/support/src/Makefile
  chapters/binary-introduction/binary-analysis/drills/tasks/easy-to-spot/support/src/easy.c
  chapters/binary-introduction/binary-analysis/drills/tasks/ghidra-killer/README.md
  chapters/binary-introduction/binary-analysis/drills/tasks/ghidra-killer/solution/README.md
  chapters/binary-introduction/binary-analysis/drills/tasks/ghidra-killer/support/src/Makefile
  chapters/binary-introduction/binary-analysis/drills/tasks/ghidra-killer/support/src/flag
  chapters/binary-introduction/binary-analysis/drills/tasks/ghidra-killer/support/src/ghidra_killer.c
  chapters/binary-introduction/binary-analysis/drills/tasks/packaging-is-important/README.md
  chapters/binary-introduction/binary-analysis/drills/tasks/packaging-is-important/solution/README.md
  chapters/binary-introduction/binary-analysis/drills/tasks/packaging-is-important/support/delivery
  chapters/binary-introduction/binary-analysis/drills/tasks/packaging-is-important/support/src/Makefile
  chapters/binary-introduction/binary-analysis/drills/tasks/packaging-is-important/support/src/packet.c
  chapters/binary-introduction/binary-analysis/drills/tasks/spaghetti/README.md
  chapters/binary-introduction/binary-analysis/drills/tasks/spaghetti/solution/README.md
  chapters/binary-introduction/binary-analysis/drills/tasks/spaghetti/support/spaghetti
  chapters/binary-introduction/binary-analysis/drills/tasks/spaghetti/support/src/Makefile
  chapters/binary-introduction/binary-analysis/drills/tasks/spaghetti/support/src/flag
  chapters/binary-introduction/binary-analysis/drills/tasks/spaghetti/support/src/spaghetti.c
  chapters/binary-introduction/binary-analysis/reading/dynamic-analysis.md
  chapters/binary-introduction/binary-analysis/reading/introduction.md
  chapters/binary-introduction/binary-analysis/reading/static-analysis.md
  chapters/binary-introduction/binary-analysis/reading/summary.md
  config.yaml
Labels: topic/binary-introduction, area/reading, area/drills, area/infra

taming-the-stack: Add session content
  chapters/binary-introduction/taming-the-stack/guides/function-calls/README.md
  chapters/binary-introduction/taming-the-stack/guides/function-calls/support/Makefile
  chapters/binary-introduction/taming-the-stack/guides/function-calls/support/main
  chapters/binary-introduction/taming-the-stack/guides/function-calls/support/main.c
  chapters/binary-introduction/taming-the-stack/media/function-stack.jpg
  chapters/binary-introduction/taming-the-stack/media/stack-array.svg
  chapters/binary-introduction/taming-the-stack/media/stack-high-low.png
  chapters/binary-introduction/taming-the-stack/reading/README.md
  chapters/binary-introduction/taming-the-stack/reading/data-data-everywhere.md
  chapters/binary-introduction/taming-the-stack/reading/functions-and-the-stack.md
  chapters/binary-introduction/taming-the-stack/reading/further-reading.md
  chapters/binary-introduction/taming-the-stack/reading/introduction.md
  chapters/binary-introduction/taming-the-stack/reading/stack.md
  chapters/binary-introduction/taming-the-stack/reading/summary.md
  config.yaml
Labels: topic/binary-introduction, area/reading, area/media, area/guides, area/infra

taming-the-stack: Add session content
  chapters/binary-introduction/taming-the-stack/guides/function-calls/README.md
  chapters/binary-introduction/taming-the-stack/guides/function-calls/support/Makefile
  chapters/binary-introduction/taming-the-stack/guides/function-calls/support/main
  chapters/binary-introduction/taming-the-stack/guides/function-calls/support/main.c
  chapters/binary-introduction/taming-the-stack/media/function-stack.jpg
  chapters/binary-introduction/taming-the-stack/media/stack-array.svg
  chapters/binary-introduction/taming-the-stack/media/stack-high-low.png
  chapters/binary-introduction/taming-the-stack/reading/README.md
  chapters/binary-introduction/taming-the-stack/reading/data-data-everywhere.md
  chapters/binary-introduction/taming-the-stack/reading/functions-and-the-stack.md
  chapters/binary-introduction/taming-the-stack/reading/further-reading.md
  chapters/binary-introduction/taming-the-stack/reading/introduction.md
  chapters/binary-introduction/taming-the-stack/reading/stack.md
  chapters/binary-introduction/taming-the-stack/reading/summary.md
  config.yaml
Labels: topic/binary-introduction, area/reading, area/media, area/guides, area/infra

chore(welcome-to-linux): move all drills from internal repository
  chapters/scratch-linux/welcome-to-linux/drills/tasks/did-you-look-everywhere/README.md
  chapters/scratch-linux/welcome-to-linux/drills/tasks/did-you-look-everywhere/deploy/Dockerfile
  chapters/scratch-linux/welcome-to-linux/drills/tasks/did-you-look-everywhere/deploy/Makefile
  chapters/scratch-linux/welcome-to-linux/drills/tasks/did-you-look-everywhere/deploy/generate_files.py
  chapters/scratch-linux/welcome-to-linux/drills/tasks/did-you-look-everywhere/flag
  chapters/scratch-linux/welcome-to-linux/drills/tasks/did-you-look-everywhere/solution/solution.sh
  chapters/scratch-linux/welcome-to-linux/drills/tasks/in-your-face/README.md
  chapters/scratch-linux/welcome-to-linux/drills/tasks/in-your-face/deploy/Dockerfile
  chapters/scratch-linux/welcome-to-linux/drills/tasks/in-your-face/deploy/Makefile
  chapters/scratch-linux/welcome-to-linux/drills/tasks/in-your-face/flag
  chapters/scratch-linux/welcome-to-linux/drills/tasks/jumbled/README.md
  chapters/scratch-linux/welcome-to-linux/drills/tasks/jumbled/flag
  chapters/scratch-linux/welcome-to-linux/drills/tasks/jumbled/public/flag
  chapters/scratch-linux/welcome-to-linux/drills/tasks/jumbled/solution/README.md
  chapters/scratch-linux/welcome-to-linux/drills/tasks/jumbled/solution/solution.py
  chapters/scratch-linux/welcome-to-linux/drills/tasks/jumbled/src/create_flags.py
  chapters/scratch-linux/welcome-to-linux/drills/tasks/quick-mafs/README.md
  chapters/scratch-linux/welcome-to-linux/drills/tasks/quick-mafs/flag
  chapters/scratch-linux/welcome-to-linux/drills/tasks/quick-mafs/solution/solution.py
  chapters/scratch-linux/welcome-to-linux/drills/tasks/whats-running/README.md
  chapters/scratch-linux/welcome-to-linux/drills/tasks/whats-running/deploy/Dockerfile
  chapters/scratch-linux/welcome-to-linux/drills/tasks/whats-running/deploy/Makefile
  chapters/scratch-linux/welcome-to-linux/drills/tasks/whats-running/flag
  chapters/scratch-linux/welcome-to-linux/drills/tasks/whats-running/solution/README.md
  chapters/scratch-linux/welcome-to-linux/drills/tasks/whats-running/solution/solution.sh
  chapters/scratch-linux/welcome-to-linux/drills/tasks/whats-running/src/Makefile
  chapters/scratch-linux/welcome-to-linux/drills/tasks/whats-running/src/SSS{out_of_all_places}.c
Labels: topic/scratch-linux, area/drills

chore(explaining-the-internet): move explaining-the-internet from internal repo
  chapters/demystifying-web/explaining-the-internet/drills/tasks/pinger/README.md
  chapters/demystifying-web/explaining-the-internet/drills/tasks/pinger/deploy/Dockerfile
  chapters/demystifying-web/explaining-the-internet/drills/tasks/pinger/deploy/Makefile
  chapters/demystifying-web/explaining-the-internet/drills/tasks/pinger/flag
  chapters/demystifying-web/explaining-the-internet/drills/tasks/pinger/solution/README.md
  chapters/demystifying-web/explaining-the-internet/drills/tasks/pinger/src/main.py
  chapters/demystifying-web/explaining-the-internet/drills/tasks/pinger/src/requirements.txt
  chapters/demystifying-web/explaining-the-internet/drills/tasks/pinger/src/templates/index.html
  chapters/demystifying-web/explaining-the-internet/drills/tasks/they-see-me-running/README.md
  chapters/demystifying-web/explaining-the-internet/drills/tasks/they-see-me-running/deploy/Dockerfile
  chapters/demystifying-web/explaining-the-internet/drills/tasks/they-see-me-running/deploy/Makefile
  chapters/demystifying-web/explaining-the-internet/drills/tasks/they-see-me-running/deploy/xinetd.conf
  chapters/demystifying-web/explaining-the-internet/drills/tasks/they-see-me-running/flag1
  chapters/demystifying-web/explaining-the-internet/drills/tasks/they-see-me-running/flag2
  chapters/demystifying-web/explaining-the-internet/drills/tasks/they-see-me-running/flag3
  chapters/demystifying-web/explaining-the-internet/drills/tasks/they-see-me-running/flag4
  chapters/demystifying-web/explaining-the-internet/drills/tasks/they-see-me-running/flag5
  chapters/demystifying-web/explaining-the-internet/drills/tasks/they-see-me-running/src/.gitignore
  chapters/demystifying-web/explaining-the-internet/drills/tasks/they-see-me-running/src/Makefile
  chapters/demystifying-web/explaining-the-internet/drills/tasks/they-see-me-running/src/server.c
  chapters/demystifying-web/explaining-the-internet/drills/tasks/unaccessible/README.md
  chapters/demystifying-web/explaining-the-internet/drills/tasks/unaccessible/deploy/Dockerfile
  chapters/demystifying-web/explaining-the-internet/drills/tasks/unaccessible/deploy/Makefile
  chapters/demystifying-web/explaining-the-internet/drills/tasks/unaccessible/flag
  chapters/demystifying-web/explaining-the-internet/drills/tasks/unaccessible/public/password.txt
  chapters/demystifying-web/explaining-the-internet/drills/tasks/unaccessible/solution/README.md
  chapters/demystifying-web/explaining-the-internet/drills/tasks/unaccessible/solution/solution.sh
Labels: topic/demystifying-web, area/drills

chore(assembly-language): move from internal repo
  chapters/binary-introduction/assembly-language/drills/tasks/call-me-little-sunshine/flag
  chapters/binary-introduction/assembly-language/drills/tasks/call-me-little-sunshine/public/main
  chapters/binary-introduction/assembly-language/drills/tasks/call-me-little-sunshine/solution/solution.sh
  chapters/binary-introduction/assembly-language/drills/tasks/call-me-little-sunshine/src/.gitignore
  chapters/binary-introduction/assembly-language/drills/tasks/call-me-little-sunshine/src/Makefile
  chapters/binary-introduction/assembly-language/drills/tasks/call-me-little-sunshine/src/main.template.c
  chapters/binary-introduction/assembly-language/drills/tasks/call-me-little-sunshine/src/obfuscate.c
  chapters/binary-introduction/assembly-language/drills/tasks/crypto/flag
  chapters/binary-introduction/assembly-language/drills/tasks/crypto/public/crypto
  chapters/binary-introduction/assembly-language/drills/tasks/crypto/src/.gitignore
  chapters/binary-introduction/assembly-language/drills/tasks/crypto/src/Makefile
  chapters/binary-introduction/assembly-language/drills/tasks/crypto/src/main.template.c
  chapters/binary-introduction/assembly-language/drills/tasks/crypto/src/obfuscate.c
  chapters/binary-introduction/assembly-language/drills/tasks/gotta-link-em-all/flag
  chapters/binary-introduction/assembly-language/drills/tasks/gotta-link-em-all/public/.gitignore
  chapters/binary-introduction/assembly-language/drills/tasks/gotta-link-em-all/public/Makefile
  chapters/binary-introduction/assembly-language/drills/tasks/gotta-link-em-all/public/main.asm
  chapters/binary-introduction/assembly-language/drills/tasks/gotta-link-em-all/public/run.sh
  chapters/binary-introduction/assembly-language/drills/tasks/gotta-link-em-all/src/.gitignore
  chapters/binary-introduction/assembly-language/drills/tasks/gotta-link-em-all/src/Makefile
  chapters/binary-introduction/assembly-language/drills/tasks/gotta-link-em-all/src/f1.asm
  chapters/binary-introduction/assembly-language/drills/tasks/gotta-link-em-all/src/f2.asm
  chapters/binary-introduction/assembly-language/drills/tasks/gotta-link-em-all/src/f3.asm
  chapters/binary-introduction/assembly-language/drills/tasks/gotta-link-em-all/src/get_flag_part.template.c
  chapters/binary-introduction/assembly-language/drills/tasks/gotta-link-em-all/src/obfuscate.c
  chapters/binary-introduction/assembly-language/drills/tasks/in-plain-assembly/flag
  chapters/binary-introduction/assembly-language/drills/tasks/in-plain-assembly/public/plain
  chapters/binary-introduction/assembly-language/drills/tasks/in-plain-assembly/src/.gitignore
  chapters/binary-introduction/assembly-language/drills/tasks/in-plain-assembly/src/Makefile
  chapters/binary-introduction/assembly-language/drills/tasks/in-plain-assembly/src/generate_c_file.py
  chapters/binary-introduction/assembly-language/drills/tasks/jump-maze/README.md
  chapters/binary-introduction/assembly-language/drills/tasks/jump-maze/flag
  chapters/binary-introduction/assembly-language/drills/tasks/jump-maze/src/.gitignore
  chapters/binary-introduction/assembly-language/drills/tasks/jump-maze/src/Makefile
  chapters/binary-introduction/assembly-language/drills/tasks/jump-maze/src/generate_asm_file.py
Labels: topic/binary-introduction, area/drills

data/data-representation: Rework session content
  .other_names.txt
  chapters/data/data-representation/drills/tasks/ascii-art/README.md
  chapters/data/data-representation/drills/tasks/ascii-art/solution/solution.py
  chapters/data/data-representation/drills/tasks/ascii-art/support/tommys_art_project.txt
  chapters/data/data-representation/drills/tasks/encoding-train/README.md
  chapters/data/data-representation/drills/tasks/encoding-train/solution/solution.py
  chapters/data/data-representation/drills/tasks/encoding-train/support/my_encodings.txt
  chapters/data/data-representation/drills/tasks/froggified/README.md
  chapters/data/data-representation/drills/tasks/froggified/solution/README.md
  chapters/data/data-representation/drills/tasks/froggified/support/froggified.txt
  chapters/data/data-representation/drills/tasks/infinity-hashes/README.md
  chapters/data/data-representation/drills/tasks/infinity-hashes/solution/README.md
  chapters/data/data-representation/drills/tasks/infinity-hashes/support/the_truth.txt
  chapters/data/data-representation/media/binary_meme.svg
  chapters/data/data-representation/media/blender_hashing.svg
  chapters/data/data-representation/media/data_signals.svg
  chapters/data/data-representation/media/numeral_systems1.svg
  chapters/data/data-representation/media/numeral_systems2.svg
  chapters/data/data-representation/media/unix_file_permissions1.svg
  chapters/data/data-representation/media/unix_file_permissions2.svg
  chapters/data/data-representation/reading/README.md
  chapters/data/data-representation/reading/character-encoding.md
  chapters/data/data-representation/reading/data-formats.md
  chapters/data/data-representation/reading/further-reading.md
  chapters/data/data-representation/reading/hashing.md
  chapters/data/data-representation/reading/introduction.md
  chapters/data/data-representation/reading/summary.md
  config.yaml
Labels: topic/data, area/reading, area/media, area/drills, area/infra

ci: pin Docusaurus build Node.js version
  .github/workflows/deployment.yml
  .github/workflows/pr-deployment.yml
  Dockerfile
Labels: area/infra

ci: freeze Docusaurus npm dependency window
  Dockerfile
Labels: area/infra
