Repository security-summer-school/essentials-security, pull requests merged in 2024-06, with the labels that each got.

#3 workflows/labeler: Add rules for each chaper
  .github/labeler.yml
Labels: area/infra, kind/improve

#6 workflows: Fix PR deployment links
  .github/workflows/pr-deployment.yml
Labels: area/infra

#4 Modify data-security to respect OpenEdu methodology
  chapters/data/data-security/drills/tasks/aes-cbc/README.md
  chapters/data/data-security/drills/tasks/caesar-cipher/README.md
  chapters/data/data-security/drills/tasks/xor-encryption/README.md
  chapters/data/data-security/media/aes.svg
  chapters/data/data-security/media/assymetric.svg
  chapters/data/data-security/media/caesar-cipher.svg
  chapters/data/data-security/media/cbc.svg
  chapters/data/data-security/media/ecb.svg
  chapters/data/data-security/media/encryption.svg
  chapters/data/data-security/media/xor-attack.svg
  chapters/data/data-security/media/xor-inverter.svg
  chapters/data/data-security/reading/README.md
  chapters/data/data-security/reading/asymmetric-cryptography.md
  chapters/data/data-security/reading/introduction.md
  chapters/data/data-security/reading/symmetric-cryptography.md
  chapters/data/data-security/reading/xor-encrpytion.md
  chapters/data/data-security/slides/Makefile
  config.yaml
Labels: area/infra, kind/improve, area/reading, area/media, area/slides, area/drills, kind/new, needs-rendering, topic/data

#5 Update welcome-to-linux directory
  chapters/scratch-linux/welcome-to-linux/drills/did-you-look-everywhere/sol/solution.sh
  chapters/scratch-linux/welcome-to-linux/drills/tasks/did-you-look-everywhere/README.md
  chapters/scratch-linux/welcome-to-linux/drills/tasks/did-you-look-everywhere/solution/solution.sh
  chapters/scratch-linux/welcome-to-linux/drills/tasks/in-your-face/README.md
  chapters/scratch-linux/welcome-to-linux/drills/tasks/in-your-face/solution/solution.sh
  chapters/scratch-linux/welcome-to-linux/drills/tasks/jumbled/README.md
  chapters/scratch-linux/welcome-to-linux/drills/tasks/jumbled/solution/solution.py
  chapters/scratch-linux/welcome-to-linux/drills/tasks/jumbled/support/flag
  chapters/scratch-linux/welcome-to-linux/drills/tasks/quick-mafs/README.md
  chapters/scratch-linux/welcome-to-linux/drills/tasks/quick-mafs/solution/solution.py
  chapters/scratch-linux/welcome-to-linux/drills/tasks/whats-running/README.md
  chapters/scratch-linux/welcome-to-linux/drills/tasks/whats-running/solution/solution.sh
  chapters/scratch-linux/welcome-to-linux/drills/whats-running/sol/solution.sh
  chapters/scratch-linux/welcome-to-linux/guides/demo-bash/demo.sh
  chapters/scratch-linux/welcome-to-linux/guides/demo-python/.gitignore
  chapters/scratch-linux/welcome-to-linux/guides/demo-python/dictionaries.py
  chapters/scratch-linux/welcome-to-linux/guides/demo-python/files.py
  chapters/scratch-linux/welcome-to-linux/guides/demo-python/functions.py
  chapters/scratch-linux/welcome-to-linux/guides/demo-python/if.py
  chapters/scratch-linux/welcome-to-linux/guides/demo-python/lists.py
  chapters/scratch-linux/welcome-to-linux/guides/demo-python/loops.py
  chapters/scratch-linux/welcome-to-linux/guides/demo-python/strings_bytes.py
  chapters/scratch-linux/welcome-to-linux/guides/demo-python/variables.py
  chapters/scratch-linux/welcome-to-linux/reading/activities.md
  chapters/scratch-linux/welcome-to-linux/reading/enter-python.md
  chapters/scratch-linux/welcome-to-linux/reading/further-reading.md
  chapters/scratch-linux/welcome-to-linux/reading/introduction.md
  chapters/scratch-linux/welcome-to-linux/reading/summary.md
  chapters/scratch-linux/welcome-to-linux/reading/working-with-linux.md
  config.yaml
Labels: area/infra, kind/improve, area/reading, area/drills, kind/new, needs-rendering, topic/scratch-linux, area/guides

#9 Update system-exploration directory
  chapters/scratch-linux/system-exploration/drills/find-us-if-you-can/sol/solution.sh
  chapters/scratch-linux/system-exploration/drills/not-your-doge/sol/solution.py
  chapters/scratch-linux/system-exploration/drills/tasks/empty-files/README.md
  chapters/scratch-linux/system-exploration/drills/tasks/empty-files/solution/solution.sh
  chapters/scratch-linux/system-exploration/drills/tasks/find-us-if-you-can/README.md
  chapters/scratch-linux/system-exploration/drills/tasks/find-us-if-you-can/solution/solution.sh
  chapters/scratch-linux/system-exploration/drills/tasks/not-your-doge/README.md
  chapters/scratch-linux/system-exploration/drills/tasks/not-your-doge/solution/.gitignore
  chapters/scratch-linux/system-exploration/drills/tasks/not-your-doge/solution/solution.py
  chapters/scratch-linux/system-exploration/drills/tasks/not-your-doge/support/not-doge.pnm
  chapters/scratch-linux/system-exploration/drills/tasks/surgical-precision/README.md
  chapters/scratch-linux/system-exploration/drills/tasks/surgical-precision/support/flags/.hidden
  chapters/scratch-linux/system-exploration/drills/tasks/surgical-precision/support/flags/10
  chapters/scratch-linux/system-exploration/drills/tasks/surgical-precision/support/flags/9
  chapters/scratch-linux/system-exploration/drills/tasks/surgical-precision/support/flags/admin
  chapters/scratch-linux/system-exploration/drills/tasks/surgical-precision/support/flags/file
  chapters/scratch-linux/system-exploration/drills/tasks/surgical-precision/support/flags/find
  chapters/scratch-linux/system-exploration/drills/tasks/surgical-precision/support/flags/grep
  chapters/scratch-linux/system-exploration/drills/tasks/surgical-precision/support/flags/root
  chapters/scratch-linux/system-exploration/drills/tasks/surgical-precision/support/flags/strings
  chapters/scratch-linux/system-exploration/drills/tasks/surgical-precision/support/flags/terminal
  chapters/scratch-linux/system-exploration/drills/tasks/surgical-precision/support/question-1.txt
  chapters/scratch-linux/system-exploration/drills/tasks/surgical-precision/support/question-2.txt
  chapters/scratch-linux/system-exploration/drills/tasks/surgical-precision/support/question-3.txt
  chapters/scratch-linux/system-exploration/drills/tasks/surgical-precision/support/question-4.txt
  chapters/scratch-linux/system-exploration/drills/tasks/surgical-precision/support/question-5.bin
  chapters/scratch-linux/system-exploration/guides/doge/README.md
  chapters/scratch-linux/system-exploration/guides/doge/solution/solution.sh
  chapters/scratch-linux/system-exploration/guides/doge/support/doge.jpg
  chapters/scratch-linux/system-exploration/reading/exploration-tools.md
  chapters/scratch-linux/system-exploration/reading/file-inspection.md
  chapters/scratch-linux/system-exploration/reading/further-reading.md
  chapters/scratch-linux/system-exploration/reading/introduction.md
  chapters/scratch-linux/system-exploration/reading/summary.md
  config.yaml
Labels: area/infra, kind/improve, area/reading, area/drills, kind/new, needs-rendering, topic/scratch-linux, area/guides

#7 binary-introduction/assembly-language: Refactor files structure
  chapters/binary-introduction/assembly-language/drills/tasks/call-me-little-sunshine/README.md
  chapters/binary-introduction/assembly-language/drills/tasks/call-me-little-sunshine/solution/solution.sh
  chapters/binary-introduction/assembly-language/drills/tasks/call-me-little-sunshine/support/main
  chapters/binary-introduction/assembly-language/drills/tasks/crypto/README.md
  chapters/binary-introduction/assembly-language/drills/tasks/crypto/solution/README.md
  chapters/binary-introduction/assembly-language/drills/tasks/crypto/support/crypto
  chapters/binary-introduction/assembly-language/drills/tasks/gotta-link-em-all/README.md
  chapters/binary-introduction/assembly-language/drills/tasks/gotta-link-em-all/solution/main.asm
  chapters/binary-introduction/assembly-language/drills/tasks/gotta-link-em-all/support/.gitignore
  chapters/binary-introduction/assembly-language/drills/tasks/gotta-link-em-all/support/Makefile
  chapters/binary-introduction/assembly-language/drills/tasks/gotta-link-em-all/support/main.asm
  chapters/binary-introduction/assembly-language/drills/tasks/gotta-link-em-all/support/run.sh
  chapters/binary-introduction/assembly-language/drills/tasks/in-plain-assembly/README.md
  chapters/binary-introduction/assembly-language/drills/tasks/in-plain-assembly/solution/README.md
  chapters/binary-introduction/assembly-language/drills/tasks/in-plain-assembly/support/plain
  chapters/binary-introduction/assembly-language/drills/tasks/jump-maze/README.md
  chapters/binary-introduction/assembly-language/drills/tasks/jump-maze/solution/README.md
  chapters/binary-introduction/assembly-language/reading/README.md
  chapters/binary-introduction/assembly-language/reading/assembly-instructions.md
  chapters/binary-introduction/assembly-language/reading/dereferencing-addresses.md
  chapters/binary-introduction/assembly-language/reading/further-reading.md
  chapters/binary-introduction/assembly-language/reading/introduction.md
  chapters/binary-introduction/assembly-language/reading/reading-assembly.md
  chapters/binary-introduction/assembly-language/reading/registers.md
  chapters/binary-introduction/assembly-language/reading/summary.md
  config.yaml
Labels: area/infra, area/reading, area/drills, kind/new, needs-rendering, topic/binary-introduction
